*~
#*
*#
.#*
.factorypath
.classpath
.project
.settings/
target/
build/
bin/
.gradle/

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.class
*.iml

.idea/
.gradle/
target/
build/

hs_err_pid*
.DS_Store
*.log
interpolated-settings.xml
interpolated-pom.xml